<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stonk Screener</title>
</head>
<body>
    <div>
        <label for="stockName">Stock Name</label>
        <input type="text" name="stockName" id="stockName">
        <button onclick="getStockInfo()">Get Price</button>
    </div>
    <div id="stockInfo" name="stockInfo"></div>
    <hr />
    <div id="recentStocks" name="recentStocks"><h4><ul>Recent Stock Searches</ul></h4></div>
    <script>
        function getStockInfo(){
            let stockName = document.getElementById("stockName").value;
            let resultDiv = document.getElementById("stockInfo");
            let recentDiv = document.getElementById("recentStocks");
            resultDiv.innerHTML = "<marquee direction='right'>....Loading</marquee>";
            fetchStockInfo(stockName).then(data => {
                resultDiv.innerHTML = "$" + JSON.stringify(data.ask);
                recentDiv.innerHTML += stockName + "<br />";
            })
        }
        async function fetchStockInfo(stockName){
            let apiURL = "https://stonk-screener.herokuapp.com/stocks/" + stockName;
            let response = await fetch(apiURL);
            let data = await response.json()
            return data;
        }
    </script>
</body>
</html>