<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='build/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='build/all.min.css') }}">
    <title>Stonks Landing Page</title>
</head>
<body>
    <!-- Header -->
    <div class="md:p-8 bg-green-700 flex items-start shadow">
        <div class="fad fa-rocket-launch fill-current text-green-500 text-4xl md:text-8xl bg-white p-4 md:p-7 my-4 mx-2 rounded-full"></div>
        <div class="text-green-200 text-4xl md:text-7xl rounded mx-8 my-8 md:my-12">Stonks ( To the <i class="far fa-moon-stars"></i> )</div>
    </div>

    <!-- Search Stock -->
    <div class="flex flex-col md:flex-row max-h-16 my-2">
      <input type="text" name="stonkName" id="stonkName" class="shadow m-2 p-2 text-2xl rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-600 text-green-700" placeholder="Ticker/Symbol">
      <button onclick="getStonkInfo()" class="bg-indigo-600 rounded-xl p-2 text-xl max-h-12 my-2 text-indigo-200 focus:outline-none hover:text-indigo-600 hover:bg-indigo-200 transition duration-200 ease-in-out">Find Stonk</button>
      <span id="errorDiv" class="my-2 py-2 mx-2 max-h-12 max-w-max text-xl bg-red-200 text-red-600 rounded-xl" style="display: block;"></span>
    </div>
    
    <!-- Stonks List -->
    <div id="resultBody" class="flex flex-row">
        
    </div>
    <script>
        let currentStonks = [];
        let resultBody = document.getElementById("resultBody");

        // This function is the main function that fetches and then displays the results for the ticker/symbol, this is invoked by the search button at the top.
        // This function also handles some edge cases around blank stock symbol, searching for a stock that is on the list again etc.
        function getStonkInfo(){
            let addStonk = true;

            if(stonkName.value === ""){
                showError("Please enter a stonk symbol/ticker",true);
                return;
            }
            if(currentStonks.length != 0){
                currentStonks.forEach(element=>{
                    if(element === stonkName.value){
                        addStonk = false;
                        stonkName.value = "";
                        showError("Stonk is already in the list",true);
                        return;
                    }
                });
                currentStonks.push(stonkName.value);
            }
            else {
                currentStonks.push(stonkName.value);
            }
            if(addStonk){
                fetchStonkInfo(stonkName.value).then(data => {
                  resultBody.innerHTML += `<div class="shadow m-4 rounded-xl">
                    <button onclick="removeStonk(this)" class="w-full border-red-400 border-2 rounded-t-xl text-red-400 px-2">Remove <i class="fas fa-times-circle"></i></button>
                    <img src="`+data.logo_url+`" alt="Stonk Logo" class="rounded-b-xl w-full h-40">
                    <span class="m-2 text-2xl text-green-700">`+data.shortName+`</span><br />
                    <span class="m-2 text-green-700 underline italic">`+data.industry+`</span><br />
                    <span class="m-2 text-green-700">Current: <span id="bid" class="text-2xl">$`+data.bid+`</span></span><br />
                    <span class="m-2 text-green-700">Previous: <span id="previousClose" class="text-2xl">$`+data.previousClose+`</span></span><br />
                    <span class="m-2 text-green-700">Volume: <span id="volume" class="text-xl">`+data.volume+`</span></span>
                    </div>`
                  stonkName.value = "";
                });
                document.getElementById("stonkName").focus();
            }            
        }

        // This function will remove the stonk from the list and is invoked by the remove button that is located in each row that is showing a stock.
        function removeStonk(elem){
            elem.parentElement.remove();
            document.getElementById("stonkName").focus();
        }

        //This function calls the getStonk route exposed by our Flask app and this function is called asynchronously and will return the data returned by our route
        async function fetchStonkInfo(stonkName){
            try {
                let apiURL = "https://stonk-screener.herokuapp.com/stonks/" + stonkName;
                //let apiURL = "http://127.0.0.1:5000/stonks/" + stonkName;
                let response = await fetch(apiURL);
                let data = await response.json()
                return data;
            } catch (error) {
                showError("Either the stonk symbol/ticker was incorrect or there was an error, please check and try again",true);
            }
        }

        function showError(text,flag){
            document.getElementById("errorDiv").innerHTML = "<span class=\"px-2\">"+text+"<i class=\"fas fa-times align-top hover:text-red-200 hover:bg-red-600 hover:p-4 rounded ml-4 mb-6\" onclick=\"showError('',false)\"></i></span>";
            if(flag){
                document.getElementById("errorDiv").style.display = "block";
                document.getElementById("stonkName").value = "";
            }
            else{
                document.getElementById("errorDiv").style.display = "none";
            }
            document.getElementById("stonkName").focus();
        }
    </script>
</body>
</html>